/* src/components/Common/LoadingSpinner.css */

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; 
  width: 100%;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1); /* Borde gris claro */
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: #09f; /* Color del trozo que gira (azul) */

  animation: spin 1s ease infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* spinner ocupa toda la página mientras carga */
.dashboard-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Ocupa toda la altura */
    background-color: #f4f7f6; /* Un fondo suave */
}